public_key: |
  -----BEGIN PGP PUBLIC KEY BLOCK-----

  aaaa
  -----END PGP PUBLIC KEY BLOCK-----


private_key: |
  -----BEGIN PGP PRIVATE KEY BLOCK-----

  bbbb
  -----END PGP PRIVATE KEY BLOCK-----